<input class="border-2" type="text" [(ngModel)]="searchQuery" placeholder="Search..." (input)="updateFilteredItems()"/>
<div class="flex flex-wrap">
    <div (click)="record(monstername)"  *ngFor="let monstername of filteredItems" class="flex justify-center items-center border-2 border-blue-400 rounded-full p-5 m-5 h-20">
        <button class="w-40" >{{monstername[0]}}</button>
    </div>
</div>

<div *ngIf="yourTeam.length > 0 else noTeam">
    <div *ngFor="let name of yourTeam">
        <p>{{name[0]}}</p>
        <button (click) = "removeMonster(name)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Remove</button>

    </div>
    <div *ngIf="safety == true">
        <p>Your team can have a maximum of 3 monsters. Please remove one to add another</p>
    </div> 
    <button [routerLink]="['/main']"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" >Head Over to the next Route</button>
</div>
<ng-template #noTeam>
    <p class="text-center">Your Team is empty so far</p>
</ng-template>