<h1 class="text-center">Battle</h1>
<div class="shift-animation">
 <div class="flex flex-wrap justify-center">
    <img class="h-10" [src]="'assets/transparent/' + yourMonster.type + '.png'" alt="My Image">
    <p> {{yourMonster.name}} VS {{enemyMonster.name}}</p>
    <img class="h-10" [src]="'assets/transparent/' + enemyMonster.type + '.png'" alt="My Image">
    <p>    
       </p>
 </div>
</div>

 <!-- <div class="shift-animation">This element will shift up and down</div> -->


<!-- <div class="h-10" [innerHTML]="descriptionWithImage"></div> -->
