<h1> Big Boy Test</h1>
<h1> Welcome to D&D Colosseum.</h1>
<h1> Form a Team of monsters from the world's most popular roleplaying game and have them fight each other for glory and Combat.</h1>
<h2> First Make a Account with us.</h2>
<h2> Then pick 3 monsters of your liking.</h2>
<h2> Pick one of our premade teams.</h2>
<h2> Now it's time to battle!.</h2>
<h2> Combat Rules</h2>
<h3> The monster with the fastest speed makes a move first.</h3>
<h3> Boost your monster with items? Optional.</h3>
<h3> Roll the Dice to determine if your attack exceeds the enemies Armor Class.</h3>
<h3> If you succeed you get to roll damage .</h3>
<h3> First creature to drop to 0 hit points loses.</h3>
<h3> Kill all your oponents creatures to win the match..</h3>
<button [routerLink]="['/register']" class="primary" > Ready to play? Click here to Register a Account</button>
<button [routerLink]="['/login']" class="secondary"  > Or click here if you already have a account></button>
