<form [formGroup]="form" class="form-container">
    <div class="form-field">
      <label for="username" class="form-label">Username</label>
      <input 
      formControlName="username"
      id="username" type="text" class="form-input" placeholder="Enter your username" formControlName="username">
      <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
        <div *ngIf="f.username.errors?.['required']">Name is required.</div>
        <div *ngIf="f.username.errors?.['minlength']">Name should be 3 character.</div>
    </div>
    </div>
  
    <div class="form-field">
      <label for="password" class="form-label">Password</label>
      <input 
      formControlName="password"
      id="password" type="password" class="form-input" placeholder="Enter your password" formControlName="password">
    </div>  
    <div></div>
    <button (click)="onSubmit()" type="submit" class="form-button">Submit</button>
    <button [routerLink]="['/register']" class="form-button" > Meant to Register Click Here</button>

    <div *ngIf="failure">
     <p> You have a {{errorMessage}}</p>
    </div>
  </form>
  