/* styles.css */

/* Form container */
.form-container {
    @apply max-w-[400px] mx-auto p-10 border-solid border-2 border-black;
  }
  
  /* Form fields */
  .form-field {
    @apply mb-10;
  }
  
  .form-label {
    @apply block text-base mb-5;
  }
  
  .form-input {
    @apply appearance-none bg-white border border-black rounded-md py-2 px-4 w-full text-base;
  }
  
  /* Form buttons */
  .form-button {
    @apply appearance-none bg-black text-white border-none rounded-md py-2 px-4 text-base cursor-pointer;
  }
  
  .form-button:hover {
    @apply bg-gray-800;
  }
  
  .form-button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .primary {
    @apply bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded
}

.secondary {
    @apply text-black font-bold py-1 px-4 rounded underline  hover:bg-gray-100
}
  